{% extends "base.html" %}
{% block body %}
<h1>Contacts</h1>
<a href="{{ url_for('web.create_band') }}" class="btn btn-primary">Add New Band</a>
<ul>
  {% for band in contacts %}
  <li>
    {{ band.name }}
    <a href="{{ url_for('web.detail_band', id=band.id) }}">View</a> |
    <a href="{{ url_for('web.edit_band', id=band.id) }}">Edit</a> |
    <form action="{{ url_for('web.delete_band', id=band.id) }}" method="post" style="display: inline;">
      <input type="submit" value="Delete" class="btn btn-danger">
    </form>
  </li>
  {% endfor %}
</ul>
{% endblock %}
