{% extends "base.html" %}
{% block body %}
<h1>{{ 'Edit' if band.id else 'Create' }} Band</h1>
<form method="post">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" value="{{ band.name if band.id else '' }}" required>
  <label for="musicians_count">Number of Musicians:</label>
  <input type="number" id="musicians_count" name="musicians_count" value="{{ band.musicians_count if band.id else '' }}">
  <button type="submit">{{ 'Update' if band.id else 'Create' }}</button>
</form>
{% endblock %}
