{% extends "base.html" %}
{% block body %}
<h1>{{ 'Edit' if place.id else 'Create' }} Place</h1>
<form method="post">
  <div class="mb-3">
    <label for="name" class="form-label">Name:</label>
    <input type="text" class="form-control" id="name" name="name" value="{{ place.name if place.id }}" required>
  </div>
  <div class="mb-3">
    <label for="address" class="form-label">Address:</label>
    <input type="text" class="form-control" id="address" name="address" value="{{ place.address if place.id }}">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email:</label>
    <input type="email" class="form-control" id="email" name="email" value="{{ place.email if place.id }}">
  </div>
  <div class="mb-3">
    <label for="phone" class="form-label">Phone:</label>
    <input type="tel" class="form-control" id="phone" name="phone" value="{{ place.phone if place.id }}">
  </div>
  <button type="submit" class="btn btn-primary">{{ 'Update' if place.id else 'Create' }}</button>
</form>
{% endblock %}
