{% extends "base.html" %}

{% block body %}

<h1>{{ 'Edit' if event.id else 'Create' }} Event</h1>

<form method="post">
 <div class="mb-3">
   <label for="date" class="form-label">Date:</label>
   <input type="date" class="form-control" id="date" name="date" value="{{ event_date if event.id }}" required>
 </div>


 <div class="mb-3">
   <label for="place_id" class="form-label">Place:</label>
   <select class="form-control" id="place_id" name="place_id">
     {% for place in places %}
     <option value="{{ place.id }}" {% if event.place_id == place.id %} selected {% endif %}>{{ place.name }}</option>
     {% endfor %}
   </select>
 </div>

 <div class="mb-3">
   <label for="band_ids" class="form-label">Select Bands:</label>
   <select class="form-control" id="band_ids" name="band_ids[]" multiple="multiple">
     {% for band in bands %}
     <option value="{{ band.id }}" {% if band.id in event_band_ids %} selected {% endif %}>{{ band.name }}</option>
     {% endfor %}
   </select>
 </div>

 <div id="selected_bands" class="mb-3">
   <label class="form-label">Selected Bands:</label>
   <ul id="bands_list" class="sortable-list"></ul>
 </div>

  <!-- Add hidden inputs for order within the form -->
{% for band in event.bands %}
<input type="hidden" name="band_order[]" value="{{ band.id }}">
{% endfor %}

 <button type="submit" class="btn btn-primary">{{ 'Update' if event.id else 'Create' }}</button>
</form>

<link href="https://cdn.jsdelivr.net/npm/select2/dist/css/select2.min.css" rel="stylesheet" />
<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2/dist/js/select2.min.js"></script>
<script>
$(document).ready(function() {
   var $select = $('#band_ids').select2({
       placeholder: "Select bands",
       allowClear: true
   });

   function updateSelectedBands() {
       var selectedBands = $select.select2('data');
       var $bandsList = $('#bands_list');
       $bandsList.empty(); // Clear the list
       $.each(selectedBands, function(index, band) {
           $bandsList.append('<li class="ui-state-default">' + band.text + '</li>'); // Add each band as a list item
       });
       $bandsList.sortable(); // Make the list sortable
       $bandsList.disableSelection();
   }

   $select.on('change', function() {
       updateSelectedBands();
   });

   updateSelectedBands(); // Initial update on page load
});
</script>

{% endblock %}
