{% extends "base.html" %}
{% block body %}
<h1>Bands</h1>
<a href="{{ url_for('web.create_or_edit_band') }}" class="btn btn-primary">Add New Band</a>
<ul>
  {% for band in bands %}
  <li>
    <!-- Make band name clickable to edit the band -->
    <a href="{{ url_for('web.create_or_edit_band', id=band.id) }}">{{ band.name }}</a>
    <!-- Confirmation dialog for Delete -->
    <form action="{{ url_for('web.delete_band', id=band.id) }}" method="post" style="display: inline;" onsubmit="return confirm('Are you sure you want to delete this band?');">
      <input type="submit" value="Delete" class="btn btn-danger">
    </form>
  </li>
  {% endfor %}
</ul>
{% endblock %}
