{% extends "base.html" %}
{% block title %}Bands{% endblock %}
{% block body %}
    <h2>Bands</h2>
    <a href="{{ url_for('api.create_band') }}" class="btn btn-primary mb-3">Add Band</a>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Technicians</th>
                <th>Accompaniers</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for band in bands %}
            <tr>
                <td>{{ band.name }}</td>
                <td>{{ band.techs_count }}</td>
                <td>{{ band.accomp_count }}</td>
                <td>
                    <a href="{{ url_for('api.update_band', id=band.id) }}" class="btn btn-secondary">Edit</a>
                    <a href="{{ url_for('api.delete_band', id=band.id) }}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
