{% extends "base.html" %}
{% block title %}Contacts{% endblock %}
{% block body %}
    <h2>Contacts</h2>
    <a href="{{ url_for('api.create_contact') }}" class="btn btn-primary mb-3">Add Contact</a>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Function</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
            <tr>
                <td>{{ contact.name }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.phone }}</td>
                <td>{{ contact.function.title }}</td>
                <td>
                    <a href="{{ url_for('api.update_contact', id=contact.id) }}" class="btn btn-secondary">Edit</a>
                    <a href="{{ url_for('api.delete_contact', id=contact.id) }}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
