{% extends "base.html" %}
{% block title %}Functions{% endblock %}
{% block body %}
    <h2>Functions</h2>
    <a href="{{ url_for('api.create_function') }}" class="btn btn-primary mb-3">Add Function</a>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for function in functions %}
            <tr>
                <td>{{ function.title }}</td>
                <td>
                    <a href="{{ url_for('api.update_function', id=function.id) }}" class="btn btn-secondary">Edit</a>
                    <a href="{{ url_for('api.delete_function', id=function.id) }}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
