{% extends "base.html" %}
{% block title %}Hotel Reservations{% endblock %}
{% block body %}
    <h2>Hotel Reservations</h2>
    <a href="{{ url_for('api.create_hotel_reservation') }}" class="btn btn-primary mb-3">Add Reservation</a>
    <table class="table">
        <thead>
            <tr>
                <th>Event Date</th>
                <th>Hotel</th>
                <th>Event</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.event_date }}</td>
                <td>{{ reservation.hotel.name }}</td>
                <td>{{ reservation.event.name }}</td>
                <td>
                    <a href="{{ url_for('api.update_hotel_reservation', id=reservation.id) }}" class="btn btn-secondary">Edit</a>
                    <a href="{{ url_for('api.delete_hotel_reservation', id=reservation.id) }}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
