{% extends "base.html" %}
{% block title %}Invoices{% endblock %}
{% block body %}
    <h2>Invoices</h2>
    <a href="{{ url_for('api.create_invoice') }}" class="btn btn-primary mb-3">Add Invoice</a>
    <table class="table">
        <thead>
            <tr>
                <th>URL</th>
                <th>Paid</th>
                <th>Due Date</th>
                <th>Edition Date</th>
                <th>Contract</th>
                <th>Band</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for invoice in invoices %}
            <tr>
                <td><a href="{{ invoice.url }}" target="_blank">View Invoice</a></td>
                <td>{{ "Yes" if invoice.paid else "No" }}</td>
                <td>{{ invoice.due_date }}</td>
                <td>{{ invoice.edition_date }}</td>
                <td>{{ invoice.contract.event_date }}</td>
                <td>{{ invoice.band.name }}</td>
                <td>
                    <a href="{{ url_for('api.update_invoice', id=invoice.id) }}" class="btn btn-secondary">Edit</a>
                    <a href="{{ url_for('api.delete_invoice', id=invoice.id) }}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
